#content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    background-color: #1f2d41;
    z-index: -2;
}